---
---

@import "{{ site.theme }}";
section{
    height: 100%;
    width: 100%;
    display: inline-block;
}
li{
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}
span{
    display: table;
    margin: 0 auto;
}
a:focus{
    outline: None;
}
a[name]{
  padding-top: 70px;
  margin-top: -40px;
  display: inline-block;
}
#header nav{
    background: none;
}
#header nav li.fork{
    margin: auto;
}
section #title{
    margin: 0 0 0 0;
}
